.slider-top {
    background-color: #fcd7b6;
    padding: 90px 0 44px;

    &__item {
        max-width: 1360px;
        width: 100%;
        margin: 0 auto;
        display: flex !important;
        justify-content: space-between;
        @extend %Rubik-600;
        padding: 0 30px;
    }

    &__box {
        margin-top: 124px;
    }

    &__title {
        font-size: 72px;
        color: #243f4d;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 22px;
        line-height: 1;
        display: block;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__text {
        font-size: 18px;
        color: $default;
        line-height: 1.667;
        text-align: left;
        margin-bottom: 60px;
        max-width: 380px;
        display: block;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__btn {
        padding: 22px;
        background-color: $priority;
        font-size: 15px;
        color: #fff;

        svg {
            fill: #fff;
            margin-left: 60px;
            height: 9px;
            width: 22px;
        }
    }

    .slick-slide {
        img {
            margin-right: 20px;
            max-width: 755px;
            max-height: 640px;
             @media (max-width:1200px) {
                  max-width: 600px;
             }
        }
    }

    .slick-dots {
        margin-top: 20px;
        margin-left: 18px;
        display: flex;
        justify-content: center;
        @extend %Rubik-600;

        button {
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-color: #ffffff;
            opacity: 0.4;
            margin-right: 12px;
            outline: transparent;
            font-size: 15px;
            color: #243f4d;
        }

        .slick-active {
            button {
                opacity: 1;
            }
        }
    }
}