<div class=" filter-brand">

  <span class="filter-title">brand</span>

  <form class="filter-brand__form" action="#">

    <label class="filter-brand__field">
      <input class="filter-brand__choose" type="checkbox">
      <span class="filter-brand__item">RFL
        <span class="filter-brand__num">(10)</span>
      </span>
    </label>

    <label class="filter-brand__field">
      <input class="filter-brand__choose" type="checkbox">
      <span class="filter-brand__item">Brothers
        <span class="filter-brand__num">(21)</span>
      </span>
    </label>

    <label class="filter-brand__field">
      <input class="filter-brand__choose" type="checkbox">
      <span class="filter-brand__item">Regal
        <span class="filter-brand__num">(3)</span>
      </span>
    </label>

    <label class="filter-brand__field">
      <input class="filter-brand__choose" type="checkbox">
      <span class="filter-brand__item">Nadia
        <span class="filter-brand__num">(14)</span>
      </span>
    </label>

    <label class="filter-brand__field">
      <input class="filter-brand__choose" type="checkbox">
      <span class="filter-brand__item">Otobi
        <span class="filter-brand__num">(6)</span>
      </span>
    </label>

  </form>
</div>