<div class="filter-price">
    <span class="filter__title">
        Price
    </span>
    <form class="filter-price__form" action="#">
        <input class="filter-price__input" type="text" data-type="double" data-min="0" data-max="800" data-from="80"
            data-to="500">
        <label class="filter-price__label">
            <div class="filter-price__numbers">
                <div>
                    $<span class="filter-price__from"></span>
                </div>

                <div>
                    $<span class="filter-price__to"></span>
                </div>
            </div>
        </label>
    </form>
</div>