<div class="filter-brand">
    <span class="filter__title">BRAND</span>
    <form class="filter-brand__form" action="#">

        <label class="filter-brand__label">
                                    <input class="filter-brand__input" type="checkbox">

                                    <p class="filter-brand__item">RFL
                                        <span class="filter-brand__num">(10)</span>
        </p>
        </label>

        <label class="filter-brand__label">
                                    <input class="filter-brand__input" type="checkbox">
                                    <p class="filter-brand__item">Brothers
                                        <span class="filter-brand__num">(21)</span>
                                    </p>
                                </label>

        <label class="filter-brand__label">
                                    <input class="filter-brand__input" type="checkbox">
                                    <p class="filter-brand__item">Regal
                                        <span class="filter-brand__num">(3)</span>
                                    </p>
                                </label>

        <label class="filter-brand__label">
                                    <input class="filter-brand__input" type="checkbox">
                                    <p class="filter-brand__item">Nadia
                                        <span class="filter-brand__num">(14)</span>
                                    </p>
                                </label>

        <label class="filter-brand__label">
                                    <input class="filter-brand__input" type="checkbox">
                                    <p class="filter-brand__item">Otobi
                                        <span class="filter-brand__num">(6)</span>
                                    </p>
                                </label>

    </form>
</div>