<div class="filter-category ">
    <span class="filter__title">CATEGORY</span>
    <form class="filter-category__form" action="#">

        <label class="filter-category__label filter-category__label--active">
            <input class="filter-category__input" type="checkbox">
            <span class="filter-category__item">Chair</span>
        </label>

        <label class="filter-category__label">
            <input class="filter-category__input" type="checkbox">
            <span class="filter-category__item">Table</span>
        </label>

        <label class="filter-category__label">
            <input class="filter-category__input" type="checkbox">
            <span class="filter-category__item">Lamp</span>
        </label>

        <label class="filter-category__label">
            <input class="filter-category__input" type="checkbox">
            <span class="filter-category__item">Watch</span>
        </label>

        <label class="filter-category__label">
            <input class="filter-category__input" type="checkbox">
            <span class="filter-category__item">Clock</span>
        </label>

    </form>
</div>