<div class="filter-recent">
    <span class="filter__title">RECENT PRODUCTS</span>
    <div class="filter-recent__products">

        <div class="filter-recent__item">
            <a class="filter-recent__link" href="#"></a>
            <img class="filter-recent__img" src="images/lamp.jpg" alt="lamp">
            <div class="filter-recent__about">
                <h3 class="filter-recent__text">Pendant lamp</h3>
                <div class="star" data-rateyo-rating="5"></div>

                <span class="filter-recent__price">23$</span>
            </div>
        </div>

        <div class="filter-recent__item">
             <a class="filter-recent__link" href="#"></a>
            <img class="filter-recent__img" src="images/light_mirum-min.png.jpg" alt="lamp">
            <div class="filter-recent__about">
                <h3 class="filter-recent__text">Pendant lamp</h3>
                <div class="star" data-rateyo-rating="5"></div>

                <span class="filter-recent__price">23$</span>
            </div>
        </div>

        <div class="filter-recent__item">
             <a class="filter-recent__link" href="#"></a>
            <img class="filter-recent__img" src="images/ligth_malesuada_min.png.jpg" alt="lamp">
            <div class="filter-recent__about">
                <h3 class="filter-recent__text">Pendant lamp</h3>
                <div class="star" data-rateyo-rating="5"></div>

                <span class="filter-recent__price">23$</span>
            </div>
        </div>

    </div>
</div>