html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  @extend %DMSans-400;
  color: $default;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.container-wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.icon {
  width: 20px;
  height: 18px;

  &__dots {
    height: 21px;
  }

  &__arrow {
    width: 24px;
    height: 9px;
  }
}

.title {
  font-size: 16px;
  @extend %DMSans-700;
  color: #243f4d;
  line-height: 2;
  text-align: center;
}

.list__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 78px;

  &-item:not(:last-child),
  &-item__link:not(:last-child) {
    margin-right: 30px;
  }

  &-item__link,
  &-link {
    border: none;
    background-color: transparent;
    outline: transparent;
    @extend %DMSans-700;
    color: #8b8b8b;
  }
}

.mixitup-control-active {
  color: #1a1a1a;
}