$default: #436372;
$gray :#7b7b7b;
$white:#fff;
%DM_Sans-400 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

%DMSans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%MyriadPro-400 {
    font-family: 'MyriadPro-Regular', sans-serif;
    font-weight: 400;
}

%Rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%Rubik-600 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 600;
}