$default: #436372;
$gray :#7b7b7b;
$white:#fff;
$priority:#a3bbc8;
$text-color: #243f4d;

%DMSans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%DMSans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%Rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%Rubik-600 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 600;
}


@function max($numbers...) {
   @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
   @return m#{i}x(#{$numbers});
}
