<section class="experience">

  <div class="experience-block" style="background-image: url('images/man-mac.jpg');">
    <div class="experience-content">

      <div class="experience-content__year">
        <span class="experience-content__num">12</span>
        <div class="experience-content__descr">
          <span class="experience-content__string">Years</span>
          <span class="experience-content__string">Experience</span>
          <span class="experience-content__string">Working</span>
        </div>
      </div>
      <div class="experience-content__desc">
        <h2 class="experience-content__title">Mission of our creative house</h2>
        <div class="experience-content__block">
          <p class="experience-content__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut
            labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
            in voluptate velit esse cillum</p>
        </div>
      </div>

      <ul class="experience-content__numbers">
        <li class="experience-content__item experience-content__item--contract">
          <span class="experience-content__number">
            520+
          </span>
          <p class="experience-content__name">Projects</p>
        </li>
        <li class="experience-content__item experience-content__item--speaker">
          <span class="experience-content__number">
            $4M
          </span>
          <p class="experience-content__name">Revenue</p>
        </li>
        <li class="experience-content__item experience-content__item--medal">
          <span class="experience-content__number">
            250
          </span>
          <p class="experience-content__name">Awards</p>
        </li>
      </ul>

    </div>
  </div>
</section>