<div class="numbers">
  <div class="wrapper">
    <ul class="numbers__list">
      <li class="numbers__item numbers__item--graf">
        <span class="numbers__number">99%</span>
        <p class="numbers__name">Satisﬁed Clients Rate</p>
      </li>
      <li class="numbers__item numbers__item--truck">
        <span class="numbers__number">5020+</span>
        <p class="numbers__name">Products Delivered</p>
      </li>
      <li class="numbers__item numbers__item--call_hour">
        <span class="numbers__number">23hr</span>
        <p class="numbers__name">Daily Working Time</p>
      </li>
      <li class="numbers__item numbers__item--medal">
        <span class="numbers__number">140+</span>
        <p class="numbers__name">Brands in Store</p>
      </li>
    </ul>
  </div>
</div>