<section class="experience" style="background-image: url(images/man-mac.jpg);">

    <div class="experience-content">
        <div class="experience-content__year">
            <span class="experience-content__num">12</span>
            <div class="experience-content__descr">
                <span class="experience-content__span">Years</span>
                <span class="experience-content__span">Experience</span>
                <span class="experience-content__span">Working</span>
            </div>
        </div>
        <div class="experience-content__desc">
            <h2 class="experience-content__title">Mission of our creative house</h2>
            <p class="experience-content__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum</p>
        </div>
        <div class="experience-content__numbers">
            <div class="experience-content__item experience-content__item--contract">
                <span class="experience-content__number">
                    520+
                </span>
                <p class="experience-content__name">Projects</p>
            </div>
            <div class="experience-content__item experience-content__item--speaker">
                <span class="experience-content__number">
                    $4M
                </span>
                <p class="experience-content__name">Revenue</p>
            </div>
            <div class="experience-content__item experience-content__item--medal">
                <span class="experience-content__number">
                    250
                </span>
                <p class="experience-content__name">Awards</p>
            </div>
        </div>
    </div>
</section>