<div class="numbers">
    <div class="wrapper">
        <ul class="numbers__list">
            <li class="numbers__item">
                <img class="numbers__item-img" src="images/about/icons/graf.svg" alt="Icon">
                <span class="numbers__item-number">99%</span>
                <p class="numbers__item-name">Satisﬁed Clients Rate</p>
            </li>
            <li class="numbers__item">
                <img class="numbers__item-img" src="images/about/icons/truck.svg" alt="Icon">
                <span class="numbers__item-number">5020+</span>
                <p class="numbers__item-name">Products Delivered</p>
            </li>
            <li class="numbers__item">
                <img class="numbers__item-img" src="images/about/icons/call-hour.svg" alt="Icon">
                <span class="numbers__item-number">23hr</span>
                <p class="numbers__item-name">Daily Working Time</p>
            </li>
            <li class="numbers__item">
                <img class="numbers__item-img" src="images/about/icons/medal.svg" alt="Icon">
                <span class="numbers__item-number">140+</span>
                <p class="numbers__item-name">Brands in Store</p>
            </li>
        </ul>
    </div>
</div>