<div class="team">
    <div class="team__content">
        <h2 class="team__content-title">Our Team</h2>
        <p class="team__content-text">Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor
            inciLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>


        <a href="#" class="team__content-btn">Join With US
            <svg class="team__content-icon icon">
                <use xlink:href="images/icons/sprite.svg#arrow__team"></use>
            </svg>
        </a>
    </div>

    <div class="team__members">

        <div class="team-member">
            <img class="team-member__img" src="images/about/eliza.jpg" alt="Team member">
            <div class="team-member__about">
                <h3 class="team-member__name">Eliza Elliot</h3>
                <span class="team-member__position">Commodo tempor</span>
                <ul class="team-member__socials">
                    <li class="team-member__item">
                        <a href="#" class="team-member__link">
                            <svg class="team-member__icon   icon">
                                <use xlink:href="images/icons/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-member__item">
                        <a href="#" class="team-member__link">
                            <svg class="team-member__icon   icon">
                                <use xlink:href="images/icons/sprite.svg#google__plus"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="team-member">
            <img class="team-member__img" src="images/about/roscoe.jpg" alt="Team member">
            <div class="team-member__about">
                <h3 class="team-member__name">Roscoe A. </h3>
                <span class="team-member__position">Commodo tempor</span>
                <ul class="team-member__socials">
                    <li class="team-member__item">
                        <a href="#" class="team-member__link">
                            <svg class="team-member__icon   icon">
                                <use xlink:href="images/icons/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-member__item">
                        <a href="#" class="team-member__link">
                            <svg class="team-member__icon   icon">
                                <use xlink:href="images/icons/sprite.svg#google__plus"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="team-member">
            <img class="team-member__img" src="images/about/ruby.jpg" alt="Team member">
            <div class="team-member__about">
                <h3 class="team-member__name">Ruby M. </h3>
                <span class="team-member__position">Commodo tempor</span>
                <ul class="team-member__socials">
                    <li class="team-member__item">
                        <a href="#" class="team-member__link">
                            <svg class="team-member__icon   icon">
                                <use xlink:href="images/icons/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-member__item">
                        <a href="#" class="team-member__link">
                            <svg class="team-member__icon   icon">
                                <use xlink:href="images/icons/sprite.svg#google__plus"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="team-member">
            <img class="team-member__img" src="images/about/marie.jpg" alt="Team member">
            <div class="team-member__about">
                <h3 class="team-member__name">Marie F. Bloss</h3>
                <span class="team-member__position">Commodo tempor</span>
                <ul class="team-member__socials">
                    <li class="team-member__item">
                        <a href="#" class="team-member__link">
                            <svg class="team-member__icon   icon">
                                <use xlink:href="images/icons/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="team-member__item">
                        <a href="#" class="team-member__link">
                            <svg class="team-member__icon   icon">
                                <use xlink:href="images/icons/sprite.svg#google__plus"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
