 <div class="terms-content">
   <h2 class="terms-content__title">Types of Personal Information We Collect</h2>
   <ol class="terms-content__list">
     <li class="terms-content__item">Consectetur adipisicing elit, sed do eiusmod tempor incididunt
       ut
       labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
       laboris
       nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
       velit
       esse cillum dolore
     </li>
     <li class="terms-content__item">Consectetur adipisicing elit, sed do eiusmod tempor incididunt
       ut
       labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
       laboris
       nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
       velit
       esse cillum dolore
     </li>
     <li class="terms-content__item">Consectetur adipisicing elit, sed do eiusmod tempor incididunt
       ut
       labore et dolore magna aliqua.
     </li>
     <li class="terms-content__item">Dagna aliqua. Ut enim ad minim veniam, quis nostrud
       exercitation
       ullamco laboris nisi ut aliquip ex ea commodo consequat.
     </li>
     <li class="terms-content__item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
       do
       eiusmod
     </li>
   </ol>

   <h2 class="terms-content__title">How marketpmss.com Collects Personal Infonnation</h2>
   <p class="terms-content__text">
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
     et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
     aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
     cillum dolore
   </p>

   <h2 class="terms-content__title">How marketprosscom Uses Personal Information</h2>
   <p class="terms-content__text">
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
     enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
     consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
   </p>
 </div>