.product-details {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  text-align: left;

  @media (max-width:992px) {
    flex-wrap: wrap;
    justify-content: center;
  }


  &__slider {
    width: 550px;
    display: flex;
    margin-right: 70px;

    @media (max-width:992px) {
      flex-wrap: wrap-reverse;
      margin: 0 20px 50px;
    }
  }

  .slick-slide {
    @media (max-width:992px) {
      padding: 0 20px;
    }
  }

}

.slider-img {
  &__thumb {
    width: 140px;

    @media (max-width:992px) {
      width: 100%;
    }

    @media (max-width:576px) {
      display: none;
    }
  }

  &__thumb-item {
    border: 2px solid #f2f2f2;
    margin-bottom: 25px;
  }

  &__thumb-img {
    width: 140px;
    height: 160px;
    margin: 0 auto;
    object-fit: cover;
  }

  &__big {
    width: 410px;
    border: 1px solid #f2f2f2;
    margin-left: 24px;
    padding: 60px 0;

    @media (max-width:992px) {
      width: 310px;
      margin-left: 0;
      margin: 0 auto 30px;
    }
  }

  &__big-img {
    margin: 0 auto;
    object-fit: contain;
    width: 220px;
    height: 420px;
  }
}

.product-desc {
  width: 570px;

  &__title {
    font-size: 40px;
    @extend %Rubik-400;
    color: #333333;
    text-align: left;
    display: block;
    margin-bottom: 25px;
  }

  .star {
    margin-bottom: 40px;
  }

  &__price {
    display: block;
    font-size: 30px;
    @extend %Rubik-400;
    color: #333333;
    text-align: left;
    margin-bottom: 38px;
  }

  p {
    font-size: 16px;
    @extend %Rubik-400;
    color: $text-color;
    line-height: 1.875;
    text-align: left;
    margin-bottom: 30px;
  }

  &__btn {
    @extend %btn;
    margin-bottom: 68px;
    border-radius: 6px;
    margin-left: 12px;
  }

  &__number {
    background-color: transparent;
    border: 1px solid #a3bbc8;
  }

  .jq-number__field input {
    height: 48px;
    width: 48px;
    border-right: 1px solid #a3bbc8;
    border-left: 1px solid #a3bbc8;
    text-align: center;
  }

  .jq-number__field {
    width: 146px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    text-align: center;
  }

  .number-plus-minus .jq-number {
    padding: 0 38px;
  }

  .number-plus-minus .jq-number__spin {
    left: 0;
    height: 42px;
    border: none;
    background: transparent;
    box-shadow: none;
  }

  .number-plus-minus .jq-number__spin.plus {
    right: 17px;
    left: auto;
    top: 9px;
  }

  .number-plus-minus .jq-number__spin:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 20px;
    width: 8px;
    height: 1px;
    border: none;
    background: #666;
  }

  .jq-number {
    position: relative;
    vertical-align: middle;
    padding: 0;
  }

  .number-plus-minus .jq-number__spin.minus:after {
    display: none;
  }

  .number-plus-minus .jq-number__spin.plus:after {
    top: 11px;
    left: 24px;
    width: 1px;
    height: 9px;
    border: none;
    background: #666;
  }

  .number-plus-minus .jq-number__spin:hover:before,
  .number-plus-minus .jq-number__spin.plus:hover:after {
    background: #000;
  }

  &__footer {
    display: block;
    font-size: 16px;
    @extend %Rubik-400;
    color: rgb(36, 63, 77);
    text-align: left;
    margin-bottom: 16px;
  }


}