<article class="product-card mix category-c">
  <img class="product-card__img" src="images/wooden-chair_5.jpg" alt="Wooden">
  <div class="product-card__content">
    <h3 class="product-card__title">Wooden radio</h3>
    <span class="product-card__price"><span>$</span> 29.00</span>
  </div>

  <div class="product-card__content--list">
    <h3 class="product-card__title">Wooden radio</h3>
    <div class=" product-card__star" data-rateyo-rating="4"></div>
    <span class="product-card__price">23<span>$</span></span>

    <div class="product-card__desc">
      <p class="product-card__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
    </div>

    <div class="product-card__content-btns">
      <button class="product-card__link product-card__link--list" type="button">
        <svg class="product-card__icon product-card__icon--cart icon">
          <use xlink:href="images/icons/sprite.svg#cart__icon"></use>
        </svg>
      </button>
      <button class="product-card__link product-card__link--list" type="button">
        <svg class="product-card__icon product-card__icon--like icon">
          <use xlink:href="images/icons/sprite.svg#like__icon"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="product-card__overlay">

    <a class="product-card__link" href="#">
      <svg class="product-card__icon product-card__icon--search icon">
        <use xlink:href="images/icons/sprite.svg#search__icon"></use>
      </svg>
    </a>

    <button class="product-card__link" type="button">
      <svg class="product-card__icon product-card__icon--cart icon">
        <use xlink:href="images/icons/sprite.svg#cart__icon"></use>
      </svg>
    </button>

    <button class="product-card__link" type="button">
      <svg class="product-card__icon product-card__icon--like icon">
        <use xlink:href="images/icons/sprite.svg#like__icon"></use>
      </svg>
    </button>


  </div>
</article>