.blog {
    position: relative;
    background: linear-gradient(180deg, #fff 339px, #fef7f0 0%);

    &__link {
        font-size: 16px;
        @extend %DMSans-700;
        color: #262626;
        line-height: 1.2;
    }

    &__icon {
        fill: #262626;
        width: 7px;
        height: 12px;
        margin-left: 14px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
    }
}

.blog-item {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    min-height: 420px;

    &__text {
        @extend %DMSans-600;
        padding-right: 10px;
        font-size: 18px;
        color: #262626;
        letter-spacing: 0.02em;
        line-height: 1.2;
        position: relative;
        text-transform: uppercase;
    }

    &__title {
        @extend %DMSans-600;
        padding: 33px 30px 0px;
        font-size: 18px;
        color: #262626;
        line-height: 1.2;
        min-height: 98px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        -moz-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-clamp: 3;
        box-orient: vertical;
    }

    &__inner {
        position: relative;
    }

    &__label {
        position: absolute;
        height: 30px;
        padding: 0 30px;
        color: #fff;
        background-color: #a3bbc8;
        border-radius: 15px;
        text-transform: uppercase;
        @extend %DMSans-700;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;
        bottom: -13px;
        left: 28px;
        padding-top: 4px;
    }

    &__bottom {
        display: flex;
        margin: 12px 27px;
        padding: 16px 0;
        border-top: 1px solid #e0e0e0;
    }

    &__text {
        font-size: 12px;
        color: rgb(34, 41, 51);
    }

    &__icon {
        margin-bottom: -4px;
        margin-right: 4px;
    }
}