.blog {
    position: relative;
    background: linear-gradient(180deg, #fff 339px, #fef7f0 0%);

    &__link {
        font-size: 16px;
        @extend %DMSans-700;
        color: #262626;
        line-height: 1.2;
    }

    &__link-icon {
        fill: #262626;
        width: 7px;
        height: 12px;
        margin-left: 14px;
    }


    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: center;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
    }
}

.blog-item {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    &__text {
        padding-top: 30px;
        margin: 0px 30px;
        @extend %DMSans-600;
        padding-right: 10px;
        font-size: 18px;
        color: #262626;
        letter-spacing: 0.02em;
        line-height: 1.2;
        position: relative;

        &::before {
            content: "news";
            position: absolute;
            height: 30px;
            width: 102px;
            color: #fff;
            background-color: #a3bbc8;
            border-radius: 15px;
            text-transform: uppercase;
            @extend %DMSans-700;
            font-size: 14px;
            line-height: 1.5;
            text-align: center;
            top: -20px;
            left: 0;
            padding-top: 4px;
        }


    }

    &:last-child {
        .blog-item__text {
            padding-top: 0;

            &::before {
                top: -50px;
            }
        }
    }

    &__date {
        display: flex;
        margin: 8px 27px;
        padding: 10px 0;
        border-top: 1px solid #e0e0e0;
    }

    &__date-text {
        font-size: 12px;
        color: rgb(34, 41, 51);
        line-height: 2.5;
        margin-left: 16px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__icon {
        margin-bottom: -4px;
    }
}