.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 78px;

    &__btn {
        border: none;
        background-color: transparent;
        outline: transparent;
        @extend %DMSans-700;
        color: #8b8b8b;
        cursor: pointer;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    .mixitup-control-active {
        color: #1a1a1a;
    }
}