.partners {
    background-color: #fef7f0;
    padding: 86px 0;
    @media (max-width: 576px) {
        padding: 40px 0;
    }
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
        @media (max-width: 992px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__item {
        padding: 30px;
        img {
            max-height: 80px;
            max-width: 150px;
            object-fit: contain;
            @media (max-width: 992px) {
                margin: 0 auto;
            }
        }
    }
}