.product {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 150px;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width:1200px) {
      justify-content: center;
    }
  }
}