.top-block {
  background-color: $top-bg;
  text-align: center;
  padding: 34px 0;
  @extend %Rubik-400;
  margin-bottom: 120px;

  &__title {
    font-size: 36px;
    color: #222933;
    font-weight: 400;
  }
}

.breadcrumbs {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;

    &::before {
      content: "/";
      position: absolute;
      font-size: 14px;
      color: #22293399;
      line-height: 1.714;
      left: -12px;
    }

    &:first-child {
      &::before {
        content: "";
      }
    }
  }

  &__item {
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    font-size: 14px;
    color: #22293399;
    line-height: 1.714;
  }
}