.video {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;

  &__play {
    height: 98px;
    width: 98px;
    background-color: #a3bbc8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
    position: relative;

    &::before {
      content: "";
      height: 126px;
      width: 126px;
      position: absolute;
      border-radius: 50%;
      background-color: #a3bbc867;
    }
  }

  &__play-icon {
    width: 25px;
    height: 25px;
    fill: #fff;
    z-index: 7 !important;
  }
}