.numbers {
    background-color: #fcd7b6;
    padding: 80px 0;
    margin-bottom: 120px;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 50px;
    }
    &__item {
        text-align: center;
        color: $text-color;
        @extend %DMSans-700;
    }
    &__item-img {
        margin: 0 auto;
        margin-bottom: 16px;
        position: relative;
        &::before {
            content: "";
            border-radius: 50%;
            background-color: #a3bbc8;
            position: absolute;
            width: 35px;
            height: 35px;
            bottom: 0;
            right: 0;
        }
    }
    &__item-number {
        display: block;
        margin-bottom: 11px;
        font-size: 36px;
    }
    &__item-name {
        font-size: 18px;
    }
}