<form class="form" action="#" name="login[email]">

  <label class="form__label">
    Username or email address *
    <input class="form__input" type="text">
  </label>

  <label class="form__label">
    Password *
    <input class="form__input" type="password">
  </label>

  <button class="form__btn" href="#">
    Login
  </button>

  <div class="form__extra">
    <label class="form__extra-label">
      <input class="form__extra-checkbox" type="checkbox">
      Remember me
    </label>
    <a class="form__extra" href="#">
      Lost your password?
    </a>
  </div>

  <span class="form__register">
    Not registered? No problem
  </span>

  <a class="form__link" href="#">
    Create an account
  </a>
</form>