<form class="login" action="#" name="login[email]">

  <label class="login__label">
    Username or email address *
    <input class="login__input" type="text">
  </label>

  <label class="login__label">
    Password *
    <input class="login__input" type="password">
  </label>

  <button class="login__btn" href="#">
    Login
  </button>

  <div class="login__extra">
    <label class="login__extra-label">
      <input class="login__extra-checkbox" type="checkbox">
      Remember me
    </label>
    <a class="login__extra" href="#">
      Lost your password?
    </a>
  </div>

  <span class="login__register">
    Not registered? No problem
  </span>

  <a class="login__link" href="#">
    Create an account
  </a>
</form>