<div class="blog">
  <div class="wrapper">

    <div class="blog__top">
      <h2 class="title">Our Insights & Articles</h2>
      <a class="blog__link" href="#">View All
        <svg class=" blog__icon icon">
          <use xlink:href="images/icons/sprite.svg#view__arrow"></use>
        </svg>
      </a>
    </div>


    <div class="blog__items">

      <article class="blog-item">
        <div class="blog-item__inner">
          <img class="blog-item__img" src="images/blog/1.jpg" alt="Blog">
          <span class="blog-item__label">news</span>
        </div>

        <h3> <a class="blog-item__title" href="#">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam </a>
        </h3>

        <div class="blog-item__bottom">
          <span class="blog-item__text">
            <svg class="blog-item__icon icon">
              <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
            </svg> 28 january, 2020
          </span>
          <span class="blog-item__text">
            <svg class="blog-item__icon icon">
              <use xlink:href="images/icons/sprite.svg#user__icon"></use>
            </svg>by admin
          </span>
        </div>
      </article>


      <article class="blog-item">
        <div class="blog-item__inner">
          <img class="blog-item__img" src="images/blog/2.jpg" alt="Blog">
          <span class="blog-item__label">news</span>
        </div>

        <h3> <a class="blog-item__title" href="#">Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore </a></h3>

        <div class="blog-item__bottom">
          <span class="blog-item__text">
            <svg class="blog-item__icon icon">
              <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
            </svg> 28 january, 2020
          </span>
          <span class="blog-item__text">
            <svg class="blog-item__icon icon">
              <use xlink:href="images/icons/sprite.svg#user__icon"></use>
            </svg>by admin
          </span>
        </div>
      </article>

      <article class="blog-item">
        <div class="blog-item__inner">
          <img class="blog-item__img" src="images/blog/3.jpg" alt="Blog">
          <span class="blog-item__label">news</span>
        </div>

        <h3> <a class="blog-item__title" href="#">Rncididunt ut labore et dolore magna aliqua. Ut enim </a></h3>

        <div class="blog-item__bottom">
          <span class="blog-item__text">
            <svg class="blog-item__icon icon">
              <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
            </svg> 28 january, 2020
          </span>
          <span class="blog-item__text">
            <svg class="blog-item__icon icon">
              <use xlink:href="images/icons/sprite.svg#user__icon"></use>
            </svg>by admin
          </span>
        </div>
      </article>

    </div>

  </div>
</div>