<footer class="footer">
  <div class="wrapper">
    <div class="footer__top">

      <div class="footer__box">
        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="images/logo.png" alt="Logo">
        </a>
        <address class="footer__address">
          <p class="footer__link">ADDRESS: 4772 Wines Lane
            Houston, TX 77032</p>
          <a class="footer__link" href="tel:+8323475843"><span>Telephone:</span> +832-347-5843
          </a>
          <a class="footer__link" href="mailto:contact@Glee.com"><span>Email:</span> contact@Glee.com</a>
        </address>
      </div>

      <div class="footer__box">

        <p class="footer__title">
          Services
        </p>

        <ul class="footer__list">

          <li class="footer__item">
            <a class="footer__link" href="#">
              About us
            </a>
          </li>

          <li class="footer__item ">
            <a class="footer__link " href=" # ">
              Return Policy
            </a>
          </li>

          <li class="footer__item ">
            <a class="footer__link " href=" # ">
              Our Blog
            </a>
          </li>

          <li class="footer__item ">
            <a class="footer__link " href=" # ">
              Contact Us
            </a>
          </li>

          <li class="footer__item ">
            <a class="footer__link " href=" # ">
              Terms & Condition
            </a>
          </li>

        </ul>
      </div>

      <div class="footer__box ">

        <p class="footer__title ">
          Account
        </p>

        <ul class="footer__list ">

          <li class="footer__item ">
            <a class="footer__link " href=" # "> Your Account
            </a>
          </li>

          <li class=" footer__item">
            <a class="footer__link" href=" #">
              Checkout
            </a>
          </li>

          <li class=" footer__item">
            <a class="footer__link" href="#"> Login
            </a>
          </li>

          <li class=" footer__item">
            <a class="footer__link" href="#">
              Register
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__box  footer-form">
        <p class="footer__title ">
          newsletter
        </p>
        <p class="footer__text ">Subscribe by our newsletter and get update protidin.</p>
        <form action="# " class="footer__form">
          <label class="footer__input-name">Email address
            <input type="email" class="footer__input" placeholder="Email address" name="subscribe[email]">
          </label>
          <button class="footer__btn ">Subscribe</button>
        </form>
      </div>

    </div>

    <div class="footer__bottom ">
      <p class="footer__copyright ">©2020 CopyRight Example. All rights reserved. </p>

      <div class="menu-bottom">
        <ul class="menu-bottom__list ">

          <li class="menu-bottom__item ">
            <a class="menu-bottom__link " href="#">
              Home
            </a>
          </li>

          <li class="menu-bottom__item ">
            <a class="menu-bottom__link " href="#">
              About
            </a>
          </li>

          <li class="menu-bottom__item ">
            <a class="menu-bottom__link " href="#">
              Blog
            </a>
          </li>

          <li class="menu-bottom__item ">
            <a class="menu-bottom__link " href="#">
              Contact
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</footer>