<ul class="support">

  <li class="support__item support__item--hours">
    <span class="support__title">
      Support 24/7.
    </span>
    <p class="support__text">
      Contact us 24 hours a day, 7 days a week.
    </p>
  </li>

  <li class="support__item support__item--delivery">
    <span class="support__title">
      Delivery.
    </span>
    <p class="support__text">
      Free shipping on all US order.
    </p>
  </li>

  <li class="support__item support__item--card">
    <span class="support__title">
      100% Payment secure.
    </span>
    <p class="support__text">
      We ensure secure payment with PEV.
    </p>
  </li>

</ul>