<div class="design">
    <div class="wrapper">

        <h2 class="title design__title">New Design</h2>

        <ul class="filter design__nav">

            <li class="filter__item" data-filter="all">
                All
            </li>

            <li class="filter__item" data-filter=".category-a">
                Furnitures
            </li>

            <li class="filter__item" data-filter=".category-b">
                Chairs
            </li>

            <li class="filter__item" data-filter=".category-c">
                Lighting
            </li>

            <li class="filter__item" data-filter=".category-d">
                Decor
            </li>

        </ul>
        <div class="design__products">
            <article class="design-card mix category-a">
                <h3 class="design-card__title">
                    Beat Flat Pendant Black
                </h3>
                <span class="design-card__subtitle">
                                Classic
                            </span>
                <img class="design-card__img" src="images/design/1.png" alt="Design">
                <a class="design-card__link" href="#">Beat Flat Pendant Black</a>
            </article>

            <article class="design-card mix category-b">
                <h3 class="design-card__title">
                    Lampe Sur Pieds Bamboo
                </h3>
                <span class="design-card__subtitle">
                                Classic
                            </span>
                <img class="design-card__img" src="images/design/2.png" alt="Design">
                <a class="design-card__link" href="#">Lampe Sur Pieds Bamboo</a>
            </article>

            <article class="design-card mix category-b">
                <h3 class="design-card__title">
                    Rattan Rocking Chair
                </h3>
                <span class="design-card__subtitle">
                                Classic
                            </span>
                <img class="design-card__img design-card__img--chair" src="images/design/3.png" alt="Design">
                <a class="design-card__link" href="#">Rattan Rocking Chair</a>
            </article>

            <article class="design-card mix category-d">
                <h3 class="design-card__title">
                    Rattan Rocking Chair
                </h3>
                <span class="design-card__subtitle">
                                Classic
                            </span>
                <img class="design-card__img" src="images/design/4.png" alt="Design">
                <a class="design-card__link" href="#">Rattan Rocking Chair</a>
            </article>

            <article class="design-card mix category-c">
                <h3 class="design-card__title">
                    Rattan Rocking Chair
                </h3>
                <span class="design-card__subtitle">
                                Classic
                            </span>
                <img class="design-card__img design-card__img--chair" src="images/design/5.png" alt="Design">
                <a class="design-card__link" href="#">Rattan Rocking Chair</a>
            </article>

            <article class="design-card mix category-d">
                <h3 class="design-card__title">
                    Lampe Sur Pieds Bamboo
                </h3>
                <span class="design-card__subtitle">
                                Classic
                            </span>
                <img class="design-card__img" src="images/design/6.png" alt="Design">
                <a class="design-card__link" href="#">Lampe Sur Pieds Bamboo</a>
            </article>


        </div>
    </div>
</div>