<section class="product">
    <div class="wrapper">

        <h2 class="title product__title">Products of the week</h2>

        <!-- start filter-mix section -->
        <ul class="filter product__nav">
            @@include('filter-mix.html')
        </ul>
        <!-- end filter-mix section -->
        <div class="product__items">
            <!-- start product-cards section -->
            @@include('product-cards.html')
            <!-- end product-cards section -->

        </div>


    </div>
</section>