<div class="product__items">

    <article class="product-card mix category-d">
        <img class="product-card__img" src="images/wooden-chair_1.jpg" alt="Wooden">
        <div class="product-card__content">
            <h3 class="product-card__title">Wooden radio</h3>
            <span class="product-card__price"><span>$</span> 29.00</span>
        </div>

        <div class="product-card__overlay">

            <a class="product-card__link" href="#">
                <svg class="product-card__icon product-card__icon--search icon">
                                        <use xlink:href="images/icons/sprite.svg#search__icon"></use>
                                    </svg>
            </a>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--cart icon">
                                        <use xlink:href="images/icons/sprite.svg#cart__icon"></use>
                                    </svg>
                                </button>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--like icon">
                                        <use xlink:href="images/icons/sprite.svg#like__icon"></use>
                                    </svg>
                                </button>


        </div>
    </article>

    <article class="product-card mix category-a">
        <img class="product-card__img" src="images/wooden-chair_2.jpg" alt="Wooden">
        <div class="product-card__content">
            <h3 class="product-card__title">Wooden chair</h3>
            <span class="product-card__price"><span>$</span> 29.00</span>
        </div>

        <div class="product-card__overlay">

            <a class="product-card__link" href="#">
                <svg class="product-card__icon product-card__icon--search icon">
                                        <use xlink:href="images/icons/sprite.svg#search__icon"></use>
                                    </svg>
            </a>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--cart icon">
                                        <use xlink:href="images/icons/sprite.svg#cart__icon"></use>
                                    </svg>
                                </button>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--like icon">
                                        <use xlink:href="images/icons/sprite.svg#like__icon"></use>
                                    </svg>
                                </button>


        </div>
    </article>

    <article class="product-card mix category-d">
        <img class="product-card__img" src="images/wooden-chair_3.jpg" alt="Wooden">
        <div class="product-card__content">
            <h3 class="product-card__title">White chair</h3>
            <span class="product-card__price"><span>$</span> 29.00</span>
        </div>

        <div class="product-card__overlay">

            <a class="product-card__link" href="#">
                <svg class="product-card__icon product-card__icon--search icon">
                                        <use xlink:href="images/icons/sprite.svg#search__icon"></use>
                                    </svg>
            </a>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--cart icon">
                                        <use xlink:href="images/icons/sprite.svg#cart__icon"></use>
                                    </svg>
                                </button>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--like icon">
                                        <use xlink:href="images/icons/sprite.svg#like__icon"></use>
                                    </svg>
                                </button>


        </div>
    </article>

    <article class="product-card mix category-a">
        <img class="product-card__img" src="images/wooden-chair_4.jpg" alt="Wooden">
        <div class="product-card__content">
            <h3 class="product-card__title">Retro table</h3>
            <span class="product-card__price"><span>$</span> 29.00</span>
        </div>

        <div class="product-card__overlay">

            <a class="product-card__link" href="#">
                <svg class="product-card__icon product-card__icon--search icon">
                                        <use xlink:href="images/icons/sprite.svg#search__icon"></use>
                                    </svg>
            </a>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--cart icon">
                                        <use xlink:href="images/icons/sprite.svg#cart__icon"></use>
                                    </svg>
                                </button>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--like icon">
                                        <use xlink:href="images/icons/sprite.svg#like__icon"></use>
                                    </svg>
                                </button>


        </div>
    </article>

    <article class="product-card mix category-c">
        <img class="product-card__img" src="images/wooden-chair_5.jpg" alt="Wooden">
        <div class="product-card__content">
            <h3 class="product-card__title">Wooden radio</h3>
            <span class="product-card__price"><span>$</span> 29.00</span>
        </div>

        <div class="product-card__overlay">

            <a class="product-card__link" href="#">
                <svg class="product-card__icon product-card__icon--search icon">
                                        <use xlink:href="images/icons/sprite.svg#search__icon"></use>
                                    </svg>
            </a>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--cart icon">
                                        <use xlink:href="images/icons/sprite.svg#cart__icon"></use>
                                    </svg>
                                </button>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--like icon">
                                        <use xlink:href="images/icons/sprite.svg#like__icon"></use>
                                    </svg>
                                </button>


        </div>
    </article>

    <article class="product-card mix category-b">
        <img class="product-card__img" src="images/wooden-chair_6.jpg" alt="Wooden">
        <div class="product-card__content">
            <h3 class="product-card__title">Wooden chair</h3>
            <span class="product-card__price"><span>$</span> 29.00</span>
        </div>

        <div class="product-card__overlay">

            <a class="product-card__link" href="#">
                <svg class="product-card__icon product-card__icon--search icon">
                                        <use xlink:href="images/icons/sprite.svg#search__icon"></use>
                                    </svg>
            </a>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--cart icon">
                                        <use xlink:href="images/icons/sprite.svg#cart__icon"></use>
                                    </svg>
                                </button>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--like icon">
                                        <use xlink:href="images/icons/sprite.svg#like__icon"></use>
                                    </svg>
                                </button>


        </div>
    </article>

    <article class="product-card mix category-a">
        <img class="product-card__img" src="images/wooden-chair_7.jpg" alt="Wooden">
        <div class="product-card__content">
            <h3 class="product-card__title">White chair</h3>
            <span class="product-card__price"><span>$</span> 29.00</span>
        </div>

        <div class="product-card__overlay">

            <a class="product-card__link" href="#">
                <svg class="product-card__icon product-card__icon--search icon">
                                        <use xlink:href="images/icons/sprite.svg#search__icon"></use>
                                    </svg>
            </a>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--cart icon">
                                        <use xlink:href="images/icons/sprite.svg#cart__icon"></use>
                                    </svg>
                                </button>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--like icon">
                                        <use xlink:href="images/icons/sprite.svg#like__icon"></use>
                                    </svg>
                                </button>


        </div>
    </article>

    <article class="product-card mix category-a">
        <img class="product-card__img" src="images/wooden-chair_8.jpg" alt="Wooden">
        <div class="product-card__content">
            <h3 class="product-card__title">Retro table</h3>
            <span class="product-card__price"><span>$</span> 29.00</span>
        </div>

        <div class="product-card__overlay">

            <a class="product-card__link" href="#">
                <svg class="product-card__icon product-card__icon--search icon">
                                        <use xlink:href="images/icons/sprite.svg#search__icon"></use>
                                    </svg>
            </a>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--cart icon">
                                        <use xlink:href="images/icons/sprite.svg#cart__icon"></use>
                                    </svg>
                                </button>

            <button class="product-card__link" type="button">
                                    <svg class="product-card__icon product-card__icon--like icon">
                                        <use xlink:href="images/icons/sprite.svg#like__icon"></use>
                                    </svg>
                                </button>


        </div>
    </article>

</div>