<section class="product">
    <div class="wrapper">

        <h2 class="title product__title">Products of the week</h2>

        <ul class="filter product__nav">

            <li class="filter__item" data-filter="all">
                All
            </li>

            <li class="filter__item" data-filter=".category-a">
                Furnitures
            </li>

            <li class="filter__item" data-filter=".category-b">
                Chairs
            </li>

            <li class="filter__item" data-filter=".category-c">
                Lighting
            </li>

            <li class="filter__item" data-filter=".category-d">
                Decor
            </li>

        </ul>

        <!-- start products section -->
        @@include('product-cards.html')
        <!-- end products section -->

    </div>
</section>