<!-- start product-cards section -->
@@include('./product-card/product-card1.html')
<!-- end product-cards section -->

<!-- start product-cards section -->
@@include('./product-card/product-card2.html')
<!-- end product-cards section -->

<!-- start product-cards section -->
@@include('./product-card/product-card3.html')
<!-- end product-cards section -->

<!-- start product-cards section -->
@@include('./product-card/product-card4.html')
<!-- end product-cards section -->

<!-- start product-cards section -->
@@include('./product-card/product-card5.html')
<!-- end product-cards section -->

<!-- start product-cards section -->
@@include('./product-card/product-card6.html')
<!-- end product-cards section -->

<!-- start product-cards section -->
@@include('./product-card/product-card7.html')
<!-- end product-cards section -->

<!-- start product-cards section -->
@@include('./product-card/product-card8.html')
<!-- end product-cards section -->