<div class="show-product">

    <article class="show-product__item">

        <img class="show-product__img" src="images/light_mirum.png" alt="Light">

        <div class="show-product__content">
            <h3 class="show-product__title">Mirum Notare Tellus</h3>
            <p class="show-product__text">LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight</p>
            <a href="#" class="show-product__btn">View More
                            <svg class="show-product__icon icon">
                                <use xlink:href="images/icons/sprite.svg#arrow__white"></use>
                            </svg>
                        </a>
        </div>

    </article>

    <article class="show-product__item">

        <img class="show-product__img" src="images/ligth_malesuada.png" alt="Light">

        <div class="show-product__content">
            <h3 class="show-product__title">Malesuada Tempor Euismod</h3>
            <p class="show-product__text">50W 8000lm Compact Size for HID StreetLightReplacementLEDCornLi
            </p>
            <a href="#" class="show-product__btn">View More
                            <svg class="show-product__icon icon">
                                <use xlink:href="images/icons/sprite.svg#arrow__white"></use>
                            </svg>
                        </a>
        </div>

    </article>

</div>