<div class="slider-top">

    <div class="slider-top__item">
        <div class="slider-top__box">
            <span class="slider-top__title">smart and trendy</span>
            <p class="slider-top__text">Dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt
            </p>
            <a href="#" class="slider-top__btn">Shop Now
                            <svg class="icon slider-top__icon slider-top__icon--arrow">
                                <use xlink:href="images/icons/sprite.svg#arrow__white">
                                </use>
                            </svg>
                        </a>
        </div>
        <img class="slider-top__img" src="images/couch.png" alt="Couch">
    </div>

    <div class="slider-top__item">
        <div class="slider-top__box">
            <span class="slider-top__title">smart and trendy</span>
            <p class="slider-top__text">Dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt
            </p>
            <a href="#" class="slider-top__btn">Shop Now
                            <svg class="icon slider-top__icon slider-top__icon--arrow">
                                <use xlink:href="images/icons/sprite.svg#arrow__white">
                                </use>
                            </svg>
                        </a>
        </div>
        <img class="slider-top__img" src="images/couch.png" alt="Couch">
    </div>

    <div class="slider-top__item">
        <div class="slider-top__box">
            <span class="slider-top__title">smart and trendy</span>
            <p class="slider-top__text">Dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt
            </p>
            <a href="#" class="slider-top__btn">Shop Now
                            <svg class="icon slider-top__icon slider-top__icon--arrow">
                                <use xlink:href="images/icons/sprite.svg#arrow__white">
                                </use>
                            </svg>
                        </a>
        </div>
        <img class="slider-top__img" src="images/couch.png" alt="Couch">
    </div>
</div>