<div class="shop-inner__content">

    <div class="shop-inner__icons">
        <button class="shop-inner__btn button-grid">
            <svg class="shop-inner__icon shop-inner__icon--active icon">
                <use xlink:href="images/icons/sprite.svg#grid__icon"></use>
            </svg>
        </button>

        <button class="shop-inner__btn button-list">
            <svg class="shop-inner__icon shop-inner__icon  icon">
                <use xlink:href="images/icons/sprite.svg#list__icon"></use>
            </svg>
        </button>

    </div>

    <div class="product__items shop-inner__wrapper">

        <!-- start product-cards section -->
        @@include('../product-card/_product-card1.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card2.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card3.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card4.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card5.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card4.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card6.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card7.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card8.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card4.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card5.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card4.html')
        <!-- end product-cards section -->
    </div>
    <!-- start pagination section -->
    @@include('../_pagination.html')
    <!-- end pagination section -->

</div>