<div class="shop-inner__filters filter">

  <!-- start filter-category section -->
  @@include('filter/_filter-category.html')
  <!-- end filter-category section -->

  <!-- start filter-price section -->
  @@include('filter/_filter-price.html')
  <!-- end filter-price section -->

  <!-- start filter-brand section -->
  @@include('filter/_filter-brand.html')
  <!-- end filter-brand section -->

  <!-- start filter-recent section -->
  @@include('filter/_filter-recent.html')
  <!-- end filter-recent section -->
</div>