<div class="shop-inner__filters filter">

    <!-- start filter-category section -->
    @@include('filter/filter-category.html')
    <!-- end filter-category section -->

    <!-- start filter-price section -->
    @@include('filter/filter-price.html')
    <!-- end filter-price section -->

    <!-- start filter-brand section -->
    @@include('filter/filter-brand.html')
    <!-- end filter-brand section -->

    <!-- start filter-recent section -->
    @@include('filter/filter-recent.html')
    <!-- end filter-recent section -->
</div>