<div class="product">
    <span class="product-slider__title">Related products</span>
    <div class="product-slider">
        <!-- start product-cards section -->
        @@include('../product-card/_product-card1.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card2.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card3.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card4.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card5.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card4.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card6.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card7.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card8.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card4.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card5.html')
        <!-- end product-cards section -->

        <!-- start product-cards section -->
        @@include('../product-card/_product-card4.html')
        <!-- end product-cards section -->

    </div>
</div>