<section class="product-details">

  <div class="product-details__slider slider-img">
    <div class="slider-img__thumb">
      <div class="slider-img__thumb-item">
        <img class="slider-img__thumb-img" src="images/product-details/1.jpg" alt="">
      </div>
      <div class="slider-img__thumb-item">
        <img class="slider-img__thumb-img" src="images/product-details/2.jpg" alt="">
      </div>
      <div class="slider-img__thumb-item">
        <img class="slider-img__thumb-img" src="images/product-details/3.jpg" alt="">
      </div>
      <div class="slider-img__thumb-item">
        <img class="slider-img__thumb-img" src="images/product-details/4.jpg" alt="">
      </div>
    </div>
    <div class="slider-img__big">
      <div class="slider-img__big-item">
        <img class="slider-img__big-img" src="images/product-details/4.jpg" alt="">
      </div>
      <div class="slider-img__big-item">
        <img class="slider-img__big-img" src="images/product-details/1.jpg" alt="">
      </div>
      <div class="slider-img__big-item">
        <img class="slider-img__big-img" src="images/product-details/2.jpg" alt="">
      </div>
      <div class="slider-img__big-item">
        <img class="slider-img__big-img" src="images/product-details/3.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="product-details__desc product-desc">
    <span class="product-desc__title">Pendant lamp</span>
    <div class="star" data-rateyo-rating="4"></div>
    <span class="product-desc__price">23<span>$</span>
    </span>
    <p class="product-desc__text">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    </p>
    <input class="product-desc__number number-plus-minus" type="number" value="1" min="1">
    <button class="product-desc__btn" type="submit">Add to cart</button>
    <span class="product-desc__footer">SKU: 014
    </span>
    <span class="product-desc__footer">Category: Decorative</span>
    <span class="product-desc__footer">Tag: Decorative</span>
  </div>

</section>