<section class="blog-details__articles">
  <article class="blog-page__item">
    <img class="blog-page__img" src="images/blog-page/1.jpg" alt="Details">
    <div class="blog-page__img-footer">
      <span class="blog-item__text">
        <svg class="blog-item__icon icon">
          <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
        </svg> 28 january, 2020
      </span>
      <span class="blog-item__text">
        <svg class="blog-item__icon icon">
          <use xlink:href="images/icons/sprite.svg#user__icon"></use>
        </svg>by admin
      </span>
    </div>

    <h2>Fonsectetur adipisicing eiusmod </h2>
    <h3>Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia
      Lorem
      ipsum dolor sit amet, consectetur adipisicing elit </h3>
    <p> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet, consectetur adipisicing
      elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>

    <blockquote>Sdipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris
      <span>Wiusmod tempor </span>
    </blockquote>

    <div class="blog-details__content">
      <img class="blog-details__img" src="images/blog-page/details/1.jpg" alt="Details">

      <div class="blog-details__text">
        <h4>Riusmod tempor incididunt </h4>
        <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
      </div>
    </div>
    <h5>Kajtsal jervcm eoaspckred</h5>
    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>

    <div class="blog-details__autor author-box">
      <div class="author-box__side">
        <img class="author-box__img" src="images/blog-page/details/avatar/1.jpg" alt="">
        <div class="author-box__desc">
          <span class="author-box__name">Mark N. Hernandez</span>
          <span class="author-box__position">Designer</span>
        </div>
      </div>
      <div class="author-box__social">
        <div class="author-box__tags">
          <span class="author-box__title">Tags:</span>
          <a class="author-box__link" href="#">All,</a>
          <a class="author-box__link" href="#">Trending</a>
        </div>
        <div class="author-box__share">
          <span class="author-box__title">Share:</span>
          <ul class="author-box__list">

            <li class="author-box__item">
              <a class="author-box__link" href="#">
                <svg class="author-box__icon icon">
                  <use xlink:href="images/icons/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>

            <li class="author-box__item">
              <a class="author-box__link" href="#">
                <svg class="author-box__icon icon">
                  <use xlink:href="images/icons/sprite.svg#twitter"></use>
                </svg>
              </a>
            </li>

            <li class="author-box__item">
              <a class="author-box__link" href="#">
                <svg class="author-box__icon icon">
                  <use xlink:href="images/icons/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>

            <li class="author-box__item">
              <a class="author-box__link" href="#">
                <svg class="author-box__icon icon">
                  <use xlink:href="images/icons/sprite.svg#google__plus"></use>
                </svg>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </article>

</section>