<section class="contact">
  <span class="contact__subtitle">Write Here</span>
  <span class="contact__title">Get In Touch</span>

  <ul class="contact__list">
    <li class="contact__item">
      <div class="contact__img">
        <svg class="contact__icon icon">
          <use xlink:href="images/icons/sprite.svg#map_point"></use>
        </svg>
      </div>
      <span class="contact__name">Address</span>
      <span class="contact__text">2416 Mapleview Drive <br>
        Tampa, FL 33634</span>
    </li>
    <li class="contact__item">
      <div class="contact__img">
        <svg class="contact__icon icon">
          <use xlink:href="images/icons/sprite.svg#mail"></use>
        </svg>
      </div>
      <span class="contact__name">Our Email</span>
      <a class="contact__text" href="mailto:contact@website.com">Main Email : contact@website.com</a>
      <a class="contact__text" href="mailto:Info@mail.com">Inquiries : Info@mail.com</a>
    </li>
    <li class="contact__item">
      <div class="contact__img">
        <svg class="contact__icon icon">
          <use xlink:href="images/icons/sprite.svg#phone"></use>
        </svg>
      </div>
      <span class="contact__name">Our Phone</span>
      <a class="contact__text" href="tel:0029129102320">Office Telephone : 0029129102320</a>
      <a class="contact__text" href="tel:000232439493">Mobile : 000 2324 39493</a>
    </li>
  </ul>
</section>