<section class="blog-page__articles">
  <article class="blog-page__item">
    <img class="blog-page__img" src="images/blog-page/1.jpg" alt="">
    <div class="blog-page__img-footer">
      <span class="blog-item__text">
        <svg class="blog-item__icon icon">
          <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
        </svg> 28 january, 2020
      </span>
      <span class="blog-item__text">
        <svg class="blog-item__icon icon">
          <use xlink:href="images/icons/sprite.svg#user__icon"></use>
        </svg>by admin
      </span>
    </div>

    <h2>Fonsectetur adipisicing eiusmod </h2>
    <p> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
    <a href="#" class="blog-page__link">View More
      <svg class="blog-page__icon icon">
        <use xlink:href="images/icons/sprite.svg#arrow__white"></use>
      </svg>
    </a>
  </article>

  <article class="blog-page__item">
    <img class="blog-page__img" src="images/blog-page/2.jpg" alt="">
    <div class="blog-page__img-footer">
      <span class="blog-item__text">
        <svg class="blog-item__icon icon">
          <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
        </svg> 28 january, 2020
      </span>
      <span class="blog-item__text">
        <svg class="blog-item__icon icon">
          <use xlink:href="images/icons/sprite.svg#user__icon"></use>
        </svg>by admin
      </span>
    </div>

    <h2>Fonsectetur adipisicing elit</h2>
    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
    <a href="#" class="blog-page__link">View More
      <svg class="blog-page__icon icon">
        <use xlink:href="images/icons/sprite.svg#arrow__white"></use>
      </svg>
    </a>
  </article>

  <article class="blog-page__item">
    <img class="blog-page__img" src="images/blog-page/3.jpg" alt="">
    <div class="blog-page__img-footer">
      <span class="blog-item__text">
        <svg class="blog-item__icon icon">
          <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
        </svg> 28 january, 2020
      </span>
      <span class="blog-item__text">
        <svg class="blog-item__icon icon">
          <use xlink:href="images/icons/sprite.svg#user__icon"></use>
        </svg>by admin
      </span>
    </div>

    <h2>Fsectetur adipisicing tempor incididunt </h2>
    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
    <a href="#" class="blog-page__link">View More
      <svg class="blog-page__icon icon">
        <use xlink:href="images/icons/sprite.svg#arrow__white"></use>
      </svg>
    </a>
  </article>

  <article class="blog-page__item">
    <img class="blog-page__img" src="images/blog-page/4.jpg" alt="">
    <div class="blog-page__img-footer">
      <span class="blog-item__text">
        <svg class="blog-item__icon icon">
          <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
        </svg> 28 january, 2020
      </span>
      <span class="blog-item__text">
        <svg class="blog-item__icon icon">
          <use xlink:href="images/icons/sprite.svg#user__icon"></use>
        </svg>by admin
      </span>
    </div>

    <h2>vonsectetur adipisicing elit</h2>
    <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
      consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
    <a href="#" class="blog-page__link">View More
      <svg class="blog-page__icon icon">
        <use xlink:href="images/icons/sprite.svg#arrow__white"></use>
      </svg>
    </a>
  </article>
</section>