<div class="recent-posts">
  <span class="recent-posts__title filter-title">Recent Posts</span>

  <div class="recent-posts__item">

    <img class="recent-posts__img" src="images/blog-page/aside/1.jpg" alt="">

    <div class="recent-posts__content">

      <span class="recent-posts__content-title">Corem ipsum dolor tetur adipisicing elit</span>

      <span class="recent-posts__content-text">
        <svg class="recent-posts__icon icon">
          <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
        </svg> 28 january, 2020
      </span>

    </div>

  </div>

  <div class="recent-posts__item">

    <img class="recent-posts__img" src="images/blog-page/aside/2.jpg" alt="">

    <div class="recent-posts__content">

      <span class="recent-posts__content-title">Fdipisicing elit, sed do eiusmod tempor</span>

      <span class="recent-posts__content-text">
        <svg class="recent-posts__icon icon">
          <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
        </svg> 28 january, 2020
      </span>

    </div>

  </div>

  <div class="recent-posts__item">

    <img class="recent-posts__img" src="images/blog-page/aside/3.jpg" alt="">

    <div class="recent-posts__content">

      <span class="recent-posts__content-title">Eonsectetur adipisicing elit, sed do eiusmod </span>

      <span class="recent-posts__content-text">
        <svg class="recent-posts__icon icon">
          <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
        </svg> 28 january, 2020
      </span>

    </div>

  </div>

  <div class="recent-posts__item">

    <img class="recent-posts__img" src="images/blog-page/aside/4.jpg" alt="">

    <div class="recent-posts__content">

      <span class="recent-posts__content-title">gnim ad minim veniam, quis nostrud </span>

      <span class="recent-posts__content-text">
        <svg class="recent-posts__icon icon">
          <use xlink:href="images/icons/sprite.svg#calendar__icon"></use>
        </svg> 28 january, 2020
      </span>

    </div>

  </div>

</div>